body {
  padding: 0;
  margin:0;
  font-family: sans-serif;
}

.outer_label {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  background: -webkit-linear-gradient(left, #FFFFFF, #FFFFFF); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #FFFFFF, #FFFFFF); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #FFFFFF, #FFFFFF); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #FFFFFF , #FFFFFF); /* 标准的语法 */
  /*background-color: #000099;*/
  text-align: center;
  filter: brightness(1.4);
}
.inner_label {
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  top:0;
  margin: auto;
  height: 50px;
}
.qxs-icon {
  height: 40px;
  width: 90%;
  margin-bottom: 5px;
  padding-left: 10%;
  border: 0;
  border-bottom: solid 1px lavender;
}
.login_form {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  border-style: wave;
}
.qxs-ic_user {
  background: url("../assets/login/ic_user.jpeg") no-repeat;
  background-size: 25px 25px;
  background-position: 0%;
}
.qxs-ic_password {
  background: url("../assets/login/ic_password.jpeg") no-repeat;
  background-size: 25px 25px;
  background-position: 0%;
  margin-bottom: 20px;
}
.login_logo {
  height: 100%;
}
.login_btn {
  width: 100%;
  font-size: 16px;
  background: url("../assets/login/ic_login.jpeg") no-repeat;
  background-position-y: 40%;
  /*background: -webkit-linear-gradient(left, #28FF28 16.7%, #53FF53 16.7%, #1AFD9C 16.7%, #4EFEB3 16.7%, #00FFFF 16.7%, #4DFFFF); !* Safari 5.1 - 6.0 *!*/
  filter: brightness(1.4);
  border-style: none;
}
